<div class="login-container">
    <h2>Sign Up</h2>
    <form>
        <div class="input-group">
            <label for="username">Name</label>
            <input type="text" id="username" placeholder="Enter your name" required pInputText />
        </div>
        <div class="input-group">
            <label for="username">Email</label>
            <input type="text" id="username" placeholder="Enter your email" required pInputText />
        </div>
        <div class="input-group">
            <label for="username">Phone</label>
            <input type="text" id="username" placeholder="Enter your phone number" required pInputText />
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" required pInputText />
        </div>
        <button type="submit" class="signup-btn">SignUp</button>
        <button type="submit" class="login-btn">Login</button>
    </form>
</div>