<div class="login-container">
    <h2>Login</h2>
    <form>
        <div class="input-group">
            <label for="username">Email</label>
            <input type="email" name="username" [(ngModel)]="loginData.email" id="username" placeholder="Enter your email" required pInputText />
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="loginData.password" placeholder="Enter your password" required pInputText />
        </div>
        <button type="submit" (click)="onLogin()" class="login-btn">Login</button>
        <button type="submit" (click)="navigateToRegi()" class="signup-btn">SignUp</button>
    </form>
</div>
<<router-outlet></router-outlet>
